.cache
.vscode
bin
build
# first_assignment
# mesh
# smallfvm3.0

main
a.out*
a.*
a.cpp
outputPolyMesh

test
phi.*

.VSCodeCounter

collect_code.sh
project_code_for_ai.md
Geometry_Source_Code.md
*solution*.dat


